@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
}

a {
  color: var(--tg-theme-link-color);
}

button {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}
